@model PortfolioWebSite.Models.TestimonialsEdit

@{
    ViewData["Title"] = "Pupdate";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<h1>Pupdate</h1>

<br />

@using (Html.BeginForm("Pupdate", "Expression", FormMethod.Post))
{
    @Html.LabelFor(x=>x.Id)
    @Html.TextBoxFor(x=>x.Id, new {@class ="form-control", @readonly ="readonly"})
    <br />
    @Html.LabelFor(x=>x.Img)
    @Html.TextBoxFor(x=>x.Img, new {@class ="form-control"})
    <input type="file" name="userfiles" />
    <br />
    @Html.LabelFor(x=>x.Name)
    @Html.TextBoxFor(x=>x.Name, new {@class ="form-control"})
    <br />
        <br />
    @Html.LabelFor(x=>x.Title)
    @Html.TextBoxFor(x=>x.Title, new {@class ="form-control"})
        <br />
    @Html.LabelFor(x=>x.Icon)
    @Html.TextBoxFor(x=>x.Icon, new {@class ="form-control"})
        <br />
    @Html.LabelFor(x=>x.Description)
    @Html.TextBoxFor(x=>x.Description, new {@class ="form-control"})
    <br />
    <button class="btn btn-success">Update</button>
    <a class="btn btn-warning" asp-action="Index" asp-controller="Expression">Cancel</a>
}